<p class="page-nav-title">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <span class="vertical-align-super">Home > Featured Page</span>
</p>

<p class="page-sub-title">
    Take a look at the featured movies of this month!
</p>


<div class="loading" *ngIf="loading" fxLayout="row" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div class="search-items" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <ng-container *ngFor="let movies of movies">
        <div fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
            <div fxLayout.gt-sm="row">
                <mat-card>
                    <div [ngSwitch]="movies?.Poster === 'N/A' || movies?.Poster !== 'N/A'">
                        <img mat-card-image class="img-responsive" *ngSwitchCase="movies?.Poster !== 'N/A'" [src]="movies?.Poster">
                        <img mat-card-image class="img-responsive" *ngSwitchCase="movies?.Poster === 'N/A'" src="https://placeimg.com/300/415/any">
                    </div>
                </mat-card>
                <mat-card>
                    <mat-card-content>
                        <mat-card-title>{{ movies?.Title }} ({{ movies?.Year }})</mat-card-title>
                        <div *ngIf="movies?.imdbRating && movies?.imdbRating !== 'N/A'" class="text-success">
                            <p><b>Imdb Rating </b> : <span>{{ movies?.imdbRating }}</span></p>
                        </div>

                        <div *ngIf="movies?.Year && movies?.Year !== 'N/A'" class="text-success">
                            <p><b>Release Year </b> : <span>{{ movies?.Year }}</span></p>
                        </div>
                        <div *ngIf="movies?.Type && movies?.Type !== 'N/A'" class="text-success">
                            <p><b>Type </b> : <span>{{ movies?.Type }}</span></p>
                        </div>

                        <div *ngIf="movies?.Genre && movies?.Genre !== 'N/A'">
                            <b>Genre</b>
                            <ul *ngFor="let genre of movies?.Genre.split(',')">
                                <li>{{genre}}</li>
                            </ul>
                        </div>
                        <div *ngIf="movies?.Director && movies?.Director !== 'N/A'">
                            <b>Director</b>
                            <ul *ngFor="let director of movies?.Director.split(',')">
                                <li>{{director}}</li>
                            </ul>
                        </div>
                        <div *ngIf="movies?.Actors && movies?.Actors !== 'N/A'">
                            <b>Actors</b>
                            <ul *ngFor="let actor of movies?.Actors.split(',')">
                                <li>{{actor}}</li>
                            </ul>
                        </div>
                        <div *ngIf="movies?.Writer && movies?.Writer !== 'N/A'">
                            <b>Writer</b>
                            <ul *ngFor="let writer of movies?.Writer.split(',')">
                                <li>{{writer}}</li>
                            </ul>
                        </div>
                        <div *ngIf="movies?.Plot && movies?.Plot !== 'N/A'">
                            <b>Summary</b>
                            <p>{{ movies?.Plot }}</p>
                        </div>
                        <div *ngIf="movies?.Production && movies?.Production !== 'N/A'">
                            <b>Production</b>
                            <p>{{ movies?.Production }}</p>
                        </div>
                        <div *ngIf="movies?.Awards && movies?.Awards !== 'N/A'" class="text-success">
                            <b>Awards</b>
                            <p>{{ movies?.Awards }}</p>
                        </div>
                        <div>
                            <a href="http://www.imdb.com/title/{{movies?.imdbID}}" target="_blank">See more at Imdb</a>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </ng-container>

    <div *ngIf="errorLog">
        {{errorLog}}
    </div>

    <div *ngIf="isNotFound()">
        <p>No movie found with that title</p>
    </div>

    <div *ngIf="isNotProvided()">
        <p>Please provide a title to search for</p>
    </div>
</div>